<h1 class='text-center'>Authentication</h1>


<%= form_with url: sessions_path do |f|%>
  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %><br />
    <%= f.email_field :email, class: 'form-control', required: true, autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: 'form-label' %><br />
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>

  <div class="d-grid">
    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  </div>

<% end %>
