<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, required: true %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= f.label :prefered_city %><br />
    <%= f.select :prefered_city, City::NAMES %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
